
<!DOCTYPE html>
<html>
<head>
	<title>IMDB Search</title>
</head>
<h1>IMDB Search</h1>
	<body>
		<form action="/search_results" method="POST">
		   <label>Enter search term:</label>
		<br>
		   <input name="search_term" type="text">
		   <button type="submit" name="operation" value="search_results">Search</button>
	   </form>
		<br>
	</body>
</html>